body {
  background-color: black;
}
.homepage {
  margin: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}
.left-home {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.right-home {
  display: flex;
  flex-direction: column;
  margin-top: -30px;
  justify-content: "";
  align-items: flex-end;
  gap: 10px;
}
.left-2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.left-top {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.notes {
  width: 350px;
  height: 320px;
  flex-shrink: 0;
  border-radius: 19px;
  background: #f1c75b;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  color: #000;
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 105.688%; /* 40.161px */
  letter-spacing: 0.76px;
}
.timer {
  padding: 10px;
  width: 800px;
  height: 200px;
  flex-shrink: 0;
  border-radius: 19px;
  background-color: #1e2343;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 105.688%; /* 42.275px */
  letter-spacing: 1.6px;
}
.profile-card {
  width: 430px;
  height: 170px;
  flex-shrink: 0;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  background: #5746ea;
}
.user-info {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 15px;
  color: #fff;
  font-family: Roboto;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 38.124px */
  letter-spacing: 0.739px;
  padding: 20px;
}
.uname {
  font-size: 30px;
}
.genre-show {
  margin-top: 30px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.selectedG {
  border-radius: 30px;
  background: #9f94ff;
  width: 60px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.weather {
  width: 430px;
  height: 150px;
  border-radius: 33.428px;
  background: #101744;
}

.notepad {
  width: 100%;
  height: 100%;
  background-color: #f1c75b;
  border: none;
  outline: none;
}
textarea::-webkit-scrollbar {
  width: 1em;
  color: black;
}
textarea::-webkit-scrollbar-thumb {
  background-color: hsl(43, 100%, 75%); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 1px solid #f1c75b; /* creates padding around scroll thumb */
}
.browse-btn {
  color: #fff;
  text-align: center;
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 92.2%; /* 21.691px */
  letter-spacing: 0.471px;
  width: 150px;
  height: 45px;
  flex-shrink: 0;
  border-radius: 34.777px;
  background-color: #148a08;
  border: none;
}
