.genre-box {
  border-radius: 20px;
  height: 130px;
  width: 130px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: space-between;
  padding: 5px;
  cursor: pointer;
}
.genre-name {
  margin-top: 5px;
  margin-left: 5px;
  color: #fff;
  font-family: DM Sans;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
