.genre-box {
  border-radius: 20px;
  height: 130px;
  width: 130px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  padding: 5px;
  cursor: pointer;
}
.genre-name {
  margin-top: 5px;
  margin-left: 5px;
  color: #fff;
  font-family: DM Sans;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* Weather Style */

.date-container {
  border-radius: 33.428px 33.428px 0px 0px;
  background-color: #ff4ade;
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.weather-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0px;
  gap: 5px;
  color: #fff;
  font-family: Roboto;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 139.688%; /* 43.907px */
}
.rain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
  font-size: 10px;
}
.sep-line {
  width: 1.367px;
  height: 79.37px;
  background-color: white;
}
.temp {
  color: #fff;
  font-family: Roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 139.688%; /* 109.27px */
}
.wind {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}
.pressure,
.wind-div {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: Roboto;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 139.688%; /* 34.362px */
}

/* NEWScontainer */
.news-container {
  border-radius: 19px 19px 19px 19px;
  width: 350px;
  height: 500px;

  flex-shrink: 0;
  background-color: white;
}
.news-bg {
  border-radius: 19px 19px 0px 0px;
}
.news-img {
  border-radius: 19px 19px 0px 0px;
}
.title-bg-news {
  background-color: rgba(0, 0, 0, 0.74);

  color: #fff;
  font-family: Roboto;
  font-size: 15px;
  padding: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 123.688%; /* 39.58px */
  letter-spacing: 0.64px;
}
.news-content {
  color: #272727;
  text-align: justify;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  padding: 5px;
  line-height: 161.688%; /* 29.508px */
}

/* timer */
.watch-design {
  border-radius: 282px;
  background-color: #191e39;
  box-shadow: 0px 6px 26px 0px rgba(0, 0, 0, 0.61) inset,
    -3px -7px 16px 0px rgba(95, 88, 88, 0.23);
  color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 105.688%; /* 42.275px */
  letter-spacing: 1.6px;
}
.watch {
  background: #191e39;
  box-shadow: 0px 6px 26px 0px rgba(0, 0, 0, 0.61) inset,
    -3px -7px 16px 0px rgba(95, 88, 88, 0.23);
  border-radius: 50%;
}
.timer-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.timer-first-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.setTimer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  color: #949494;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 105.688%; /* 27.479px */
  letter-spacing: 1.04px;
}
.time {
  color: #fff;
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  line-height: 105.688%; /* 52.844px */
  letter-spacing: 2px;
}
.timer-btn {
  width: 300px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #ff6a6a;
  border: none;
  color: #fff;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 105.688%; /* 32.763px */
  letter-spacing: 1.24px;
  cursor: pointer;
}

/* MOVIE */
.movie-list {
  display: flex;
  flex-direction: column;
}
.mov-list {
  display: flex;
  flex-direction: row;
  gap: 100px;
}
.mov-genre {
  color: #878787;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 139.688%; /* 41.906px */
  letter-spacing: 0.6px;
}
